*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
body{
    background-color: rgb(24, 25, 26);
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -1600% 50%;
    background-size: 1300px 1300px;
    color: white;
    font-family: arial;
}
input{
    display: block;
    height: 35px;
    width:300px;
    margin: 20px auto 0px auto;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
}

div#container-cadastro{
    background-color: rgb(36, 37, 38);
    margin: 80px auto 0px auto;
    border-radius: 20px;
    width: 400px;
    height: 450px;
}

div#container-cadastro h1{
    text-align: center;
    padding-top: 20px;

}

div#container-cadastro h4{
    text-align: center;
    padding-top: 20px;

}

input#input-cadastrar{
    background-color: rgb(13, 135, 253);
    color: white;
}

input#input-cadastrar:hover{
    background-color: rgb(106, 163, 250);
}

div#container-voltar{
    margin: 10px auto 0 auto;
    width: 150px;
    height: 20px;
}

a#container-voltar:hover{
    color: rgb(90, 135, 233);
}

a{
    color: rgb(238, 240, 245);
    text-decoration: none;
    text-align: center;
    display: block;
}

a:visited{
    color: rgb(238, 240, 245);
}